.navbar-nav li a {
  color: white;
  font-weight: 500;
}

.fw-bold {
  font-size: 25px;
}

.lh-base.home {
  font-family: var(--font1);
  margin-top: 120px;
  margin-left: 160px;
}

.lh-base {
  font-family: var(--font1);
  margin-top: 20px;
  margin-left: 160px;
}

#tableCrops {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #076934;
  margin-top: 20px;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: small;
}

#card_header {
  color: #076934;
  font-weight: bolder;
}

.row-crops-cards {
  margin-top: 55px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 100px;
}
